@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    --base-color: #ffff;
    --text-color: #000000;
    --primary-color: #0077ff;
    --secondary-color: #b778ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
