@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --base-color: #ffffff;
    --text-color: #000000;
    --primary-color: #168500;
    --secondary-color: #c40000;
    --color-1: #baecff;
    --color-2: #cfffd3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Google Sans';
    color: var(--text-color);
    scroll-behavior: smooth; /* tạo hiệu ứng scroll khi kích hoạt sự kiện scroll*/
}

body {
    padding: 1em;
    background-color: var(--base-color);
}

h1, h2, h3 {
    font-family: 'Montserrat';
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
    font-family: 'Montserrat';
    font-weight: 700;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    gap: 2em;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    text-decoration: underline;
}

header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img {
    width: 40%;
    height: auto;
    border-radius: 1em;
    transition: 0.5s ease;
    outline: rgba(255, 255, 0, 0) 6px solid;
    cursor: pointer;
}

header img:hover {
    outline: rgb(255, 255, 97) 6px solid;
    /*scale: 1.05;*/ /* scale không ảnh hưởng layout ngoài */ 
    width: 45%;
}

@media (max-width: 768px) {
header img {
    width: 80%;
    height: auto;
    border-radius: 1em;
    transition: 0.7s ease;
    outline: rgba(255, 255, 0, 0) 6px solid;
    cursor: pointer;

}  
}

@media (max-width: 768px) {
    header img:hover {
    outline: rgb(255, 255, 97) 6px solid;
    width: 100%;
}
}

.text-container {
    flex: 0 1 34em
}

h1 {
    font-size: 2.5rem;
}

.text-container p {
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}

.cta-button {
    display: inline-block;
    background-color: var(--primary-color);
    text-decoration: none;
    color: white;
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 700;
    margin: .25em;
}

.cta-button.youtube {
    background-color: var(--secondary-color);
}

section#my-photos {
    background-color: var(--color-2);
}

.grid-container {
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5";
    gap: 2em;
}

@media (max-width: 768px) { /* nhóm 5 ảnh điều chỉnh trên mobile */
    .grid-container {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "img-1 img-1 img-2 img-3"
        "img-1 img-1 img-4 img-5";
    gap: 0.4em;
    }
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
    transition: outline 0.5s ease, scale 0.5s ease;
    outline: rgba(0, 0, 0, 0) 3px solid;
    cursor: pointer;
}

.grid-container img:hover{
    scale: 1.02;
    outline: red 3px solid;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

.ke_sach { /* căn giữa ảnh đứng bên kệ sách */
    object-position: 11%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* nền đen 70% */
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.modal.show {
    display: flex;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}